<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Reservering ophalen", "Reservation", "Kassa", new { userid = 2 }, null)
        </li>
        <li>
            @Html.ActionLink("Voorstellings overzicht", "Overview", "Kassa", new { id = 0, userid = 2 }, null)
        </li>
        <li>
            @Html.ActionLink("Nieuw abonnement", "NewSubscriber", "Kassa")
        </li>
        <li>
            @Html.ActionLink("Uitloggen", "Index", "Home")
        </li>
    </ul>
</div>
