<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Reservering ophalen", "Reservation", "Kassa", new { userid = 2 }, null )
        </li>
        <li>
            @Html.ActionLink("Voorstellingsoverzicht", "Overview", "Kassa", new { id = 0, userid = 2}, null )
        </li>
    </ul>
</div>
