@model BioscoopSysteemWebsite.Domain.Entities.Order
@{
    ViewBag.Title = "View";
}
<section id="content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.Partial("_KassaMenu")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @using (Html.BeginForm("Reservation", "Kassa", FormMethod.Post)) {
            <label for="orderId">Reserveringscode</label> @Html.TextBoxFor(x => x.OrderId, new { @class = "search" })
            <input type="submit" class="submitbtn" value="Zoek"/>
        }
    </div>
</section>