@{
    ViewBag.Title = "Empty";
}
<section id="intro">
    <div class="container">
        <div class="introtext">
            <h1><a href="@Url.Action("Index", "Home")" class="backbtn"> </a>Er zijn momenteel geen voorstellingen.</h1>
            <h1 id="txt"></h1>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="col-md-12">
            <p>Probeer het later nogmaals.</p>
         </div>
    </div>
</section>