@{
    ViewBag.Title = "Paid";
}
<section id="intro">
    <div class="container">
        <div class="introtext">
            <h1><a href="@Url.Action("Index", "Home")" class="backbtn"></a>Bedankt!</h1>
            <h1 id="txt"></h1>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="filmorder">
            <div class="col-md-12">
                <h2>U heeft betaald</h2>
                <p>
                    Een prettige voorstelling
                </p>
            </div>
        </div>
    </div>
</section>