@{
    ViewBag.Title = "PickedUp";
}

<section id="intro">
    <div class="container">
        <div class="introtext">
            <h1><a href="@Url.Action("Index", "Home")" class="backbtn"> </a>De kaartjes zijn al opgehaald!</h1>
            <h1 id="txt"></h1>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="filmorder">
            <div class="col-md-12">
                <p>U heeft de kaartjes al opgehaald. Avans Cinema wenst u een fijne voorstelling!</p>
            </div>
        </div>
    </div>
</section>
