@model BioscoopSysteemWebsite.Domain.Entities.User

@{
    ViewBag.Title = "Management";
}
<section id="content">
    <div class="container">
        <h2>@Model.FirstName, je bent nu ingelogd!</h2>
        @Html.ActionLink("Ga verder", "Overview", "Admin", new { userid = Model.UserId }, null)
    </div>
</section>