@model BioscoopSysteemWebsite.Domain.Entities.User

@{
    ViewBag.Title = "Cashier";
}

<h2>@Model.FirstName, je bent nu ingelogd!</h2>
@Html.ActionLink("Ga verder", "Overview", "Kassa", new { userid = Model.UserId }, null)