@model BioscoopSysteemWebsite.Domain.Entities.User
@using BioscoopSysteemWebsite.Domain.Entities
@{
    ViewBag.Title = "Planning";
}

<h2>Planning</h2>

<div class="text-center">
    Welkom @Model.FirstName!
</div>

