@font-face {
    font-family: 'Interface DaMa Bold';
    src: url('../fonts/interface_eot_font.eot');
    src: local('Interface DaMa Bold'), url('../fonts/interface_eot_font.eot') format('opentype');
}

@font-face {
    font-family: 'Interface DaMa Bold';
    src: local('Interface DaMa Bold'), url('/fonts/interface_eot_font.eot'), url('/fonts/interface_eot_font.eot)?#iefix') format('embedded-opentype'), url(/fonts/interface_eot_font.eot) format(embedded-opentype), url(/fonts/interface_font.ttf) format(truetype);
}

body {
    text-align: center;
    background-color: #121314 !important;
}

@media (min-width: 991px) {
    #filmcontent {
        top: 50px;
        background-color: #3D404C;
        border: solid 1px #CCCCCC;
        min-height: 280px;
        height: 40vh;
        margin-bottom: 10px;
        padding: 20px;
        position: relative;
        color: #dfe0e6;
    }
}

@media (max-width: 991px) {
    #filmcontent {
        top: 50px;
        background-color: #3D404C;
        border: 97vh;
        margin-bottom: 10px;
        padding: 20px;
        color: #dfe0e6 ;
    }
}

#filmcontent a {
    color: #fff;
}

#filmcontent h3 {
    color: #ff4f48;
}

.navbar-inverse {
    background-color: #000 !important;
}

.navbar-header img {
    height: 90px;
}

.col-md-12 p {
    font-size:22px;
    margin-top: 30px;
}

.backbtn {
    background-image: url('../Resources/backbutton.png');
    height: 75px;
    width: 75px;
    display:block;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.rbutton {
    background-color: #870000;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #dfe0e6;
    border-radius: 10px;
    border: solid 1px #ff4f48;
}

.rbutton:active {
    background-color:#FF0000;
}
@media (min-width: 1200px) {
    .button {
        top: 200px;
        margin-top: 50px !important;
        margin-bottom: 100px !important;
        background-color: #870000;
        height: 200px;
        width: auto;
        border-radius: 20px;
        padding: 50px;
        font-family: "Interface Dama Bold" !important;
        font-size: 55px;
        color: #dfe0e6;
        position: relative;
    }

    .button a {
        display: inline-block;
    }

    .button:hover {
        background-color: #FF0000;
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 1199px) {
     .button {
        margin-top: 25px !important;
        margin-bottom: 50px !important;
        height: 100px;
        width:auto;
        border-radius: 20px;
        font-family: "Interface Dama Bold" !important;
        font-size: 55px;
        color: #dfe0e6;
        position: relative;
         display: block;
    }
    .button a {
        display: inline-block;
    }
    .button:hover {
        color: #fff;
        text-decoration: none;
    }
}
     .controlbtn {
        margin-top: 50px !important;
        margin-bottom: 100px !important;
        background-color: #870000;
        height: 50px;
        width: auto;
        border-radius: 20px;
        font-family: "Interface Dama Bold" !important;
        font-size: 30px;
        color: #dfe0e6;
        position: relative;
        border-radius: 20px;
        border: solid 1px #ff4f48;
    }
    .controlbtn a {
        display: inline-block;
    }
    .controlbtn:hover {
        color: #fff;
        background-color: #FF0000;
        text-decoration: none;
    }

     .bbbutton {
        margin-top: 25px !important;
        margin-bottom: 20px !important;
        background-color: #870000;
        border-radius: 12px;
        font-family: "Interface Dama Bold" !important;
        font-size: 40px;
        color: #dfe0e6;
        position: relative;
        display: block;
    }
    .bbbutton a {
        display: inline-block;
    }
    .bbbutton:hover {
        background-color: #FF0000;
        color: #fff;
        text-decoration: none;
    }

.btn-success {
    font-size: 40px !important;
    margin: 30px !important;
}

.bbbutton {
    margin-top: 25px !important;
    margin-bottom: 20px !important;
    background-color: #870000;
    border-radius: 12px;
    font-family: "Interface Dama Bold" !important;
    font-size: 40px;
    color: #dfe0e6;
    position: relative;
    display: block;
}

.bbbutton a {
    display: inline-block;
}

.bbbutton:hover {
    background-color: #FF0000;
    color: #fff;
    text-decoration: none;
}

.filmorder {
    color: #dfe0e6;
}

#intro {
    background: url(../Resources/introbanner.jpg) 50% 0 fixed;
    width: 100%;
    margin:0 auto;
    height: 40vh;
    position: relative;
    text-align: center;
    padding: 30px 0;
    background-size: cover;
    color: #fff;
    -moz-box-shadow:    inset  0 -15px 10px -10px #696868;
    -webkit-box-shadow: inset  0 -15px 10px -10px #696868;
     box-shadow:        inset  0 -15px 10px -10px #696868;
}

    #intro h1 {
        color: #fff;
        z-index: 0;
    }

form p {
    margin: 0px 50px;
    font-size: 22px;
}

.validation-summary-errors li {
    list-style-type: none;
    font-size: 22px;
    color: #dfe0e6;
}

#filmcontent h3 {
    font-family: "Interface Dama Bold" !important;
    font-size: 30px;
}

#row {
    margin-bottom: 10px;
}

.row p {
    float: left;
    margin-bottom: 0 !important;
    clear: both;
    font-size: 18px;
}

.row h3 {
    font-family: "Interface Dama Bold" !important;
    font-size: 40px;
}

h2 {
    font-family: "Interface Dama Bold" !important;
    font-size: 40px !important;
}

.textbox label {
    font-family: "Interface Dama Bold" !important;
    font-size: 40px !important;
}

.textbox {
    margin-left: 32.5% !important;
    width: 400px;
}

label {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    margin: 5px 12px 5px 40px !important;
}

.bestelbutton {
    background-color: #44c767;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 59px;
    text-decoration: none;
    text-shadow: -1px 2px 0px #2f6627;
}

.backbutton a {
    border-radius: 5px;
    background-color: #269abc !important;
    font-size: 30px;
    color: #FFF;
    padding: 15px 75px;
    width: 250px;
    margin-top: 40px;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

footer p {
    font-size: 15px !important;
    font-family: Verdana;
}

#roomGrid {
    margin-bottom: 5px;
}

.roomRow {
    height: 50px;
    margin-top: 12px;
}

    .roomRow div {
        display: inline-block;
    }

.seatSquare {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    background-image: url("/Resources/Seat.png");
    text-align: left;
    vertical-align: bottom;
}

.seatSquareFilled{
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}